Per capita income serves as a vital indicator of the economic well-being of individuals within a specific region or country. It measures the average income earned per person, providing insights into the income distribution and standard of living among the population. In the context of India, analyzing per capita income at the state level offers valuable insights into the economic diversity and disparities across different regions.The per capita income of Indian citizens varies significantly from state to state due to factors such as economic activities, industries, employment opportunities, and government policies. By examining the per capita income data for each state, we can gain a comprehensive understanding of the economic landscape and identify areas that require targeted interventions to uplift the standard of living.

In this report, we delve into the per capita income of Indian citizens in each state, highlighting the highest and lowest per capita income states. This analysis sheds light on the economic disparities and provides a foundation for policymakers, researchers, and economists to identify strategies for inclusive growth and economic development.By examining the per capita income trends, we aim to foster a deeper understanding of the economic realities faced by Indian citizens across different states. The findings can help policymakers shape effective strategies, allocate resources, and promote policies that aim to bridge the income gap, uplift disadvantaged regions, and improve the overall well-being of the population.

Join us as we explore the fascinating world of per capita income in Indian states, analyze the factors influencing these trends, and discuss the importance of equitable economic development for a prosperous nation.

In [1]:
# Install all require library
!pip install requests
!pip install bs4

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4)
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from bs4) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->bs4) (2.4.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1257 sha256=b317697aa7705eea2aaf70b2c87e8e937dac7e6b05bef5a4a46213424021b9a8
  Stored in directory: /root/.cache/pip/wheels/25/42/45/b773edc52acb16cd2db4cf1a0b47117e2f69bb4eb300ed0e70
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [2]:
# Import all require library like request,os,panda,csv and beautiful.
import requests
import pandas as pd
import os
from bs4 import BeautifulSoup as bs
import csv

In [3]:
# We can use pandas.read to read the html file and save into a variable.
mf = pd.read_html('https://www.studyiq.com/articles/per-capita-income-of-india/')

In [4]:
# To fetch the correct table use index as we are going to fetch the secend table of this particular website and use head to fetch the rows that we want
# and save into a variable.
mf = mf[1].head(34)

In [5]:
# Now convert the data into a dataframe with the help of pandas.DataFrame and store into a variable. Use head command to see the first five rows.
mf = pd.DataFrame(mf)
mf.head()

,0,1,2
0,State/ UT,Per Capita Income (INR) 2020-21 (based on curr...,Per Capita Income ($) 2020-21 (based on curren...
1,Goa,"₹4,31,351","$5,821"
2,Sikkim,"₹4,12,754","$5,570"
3,Delhi,"₹3,44,136","$4,644"
4,Chandigarh,"₹2,92,977","$3,954"

In [6]:
# Now we can see after convert into a dataframe columns header has been changed to a index and first row should be column name. For do that we can use 'iloc' function
# and '[0]' means first row.
mf.columns=mf.iloc[0]

In [7]:
# After changed the columns headers we have to remove the first rows from data.
mf.drop(index=mf.index[0],axis=0,inplace=True)

In [8]:
# just to check is it change or not.
mf.head()

,State/ UT,Per Capita Income (INR) 2020-21 (based on current price),Per Capita Income ($) 2020-21 (based on current price)
1,Goa,"₹4,31,351","$5,821"
2,Sikkim,"₹4,12,754","$5,570"
3,Delhi,"₹3,44,136","$4,644"
4,Chandigarh,"₹2,92,977","$3,954"
5,Karnataka,"₹2,36,451","$3,191"

In [9]:
# Remove unwanted column.
mf.drop(['Per Capita Income ($) 2020-21 (based on current price)'],axis=1,inplace=True)

In [10]:
# Change the column name.
mf = mf.rename(columns={'State/ UT':'State','Per Capita Income (INR) 2020-21 (based on current price)':'Per Capita Income(INR.CR)'})

In [11]:
# Index has been change to reset it use 'reset.index'.
mf = mf.reset_index(drop=True)

In [12]:
# Checking the index position.
mf.head(34)

0                State Per Capita Income(INR.CR)
0                  Goa                 ₹4,31,351
1               Sikkim                 ₹4,12,754
2                Delhi                 ₹3,44,136
3           Chandigarh                 ₹2,92,977
4            Karnataka                 ₹2,36,451
5              Haryana                 ₹2,35,707
6            Telangana                 ₹2,31,103
7              Gujarat                 ₹2,12,821
8           Tamil Nadu                 ₹2,12,174
9           Puducherry                 ₹2,06,888
10              Kerala                 ₹2,05,067
11         Maharashtra                 ₹1,93,121
12   Arunachal Pradesh                 ₹1,92,360
13    Himachal Pradesh                 ₹1,83,333
14         Uttarakhand                 ₹1,82,698
15      Andhra Pradesh                 ₹1,76,707
16              Punjab                 ₹1,49,894
17               India                 ₹1,45,679
18             Mizoram                 ₹1,44,394
19            Nagaland                 ₹1,23,385
20         West Bengal                 ₹1,21,267
21             Tripura                 ₹1,19,789
22           Rajasthan                 ₹1,15,933
23        Chhattisgarh                 ₹1,04,943
24      Madhya Pradesh                 ₹1,04,894
25  Jammu & Kashmir-UT                 ₹1,02,803
26              Odisha                 ₹1,01,501
27             Manipur                   ₹87,832
28               Assam                   ₹86,857
29           Meghalaya                   ₹84,638
30           Jharkhand                   ₹71,071
31       Uttar Pradesh                   ₹61,666
32               Bihar                   ₹43,605

In [13]:
# Remove unwanted rows from data to do that use 'drop' function with index position.
mf.drop(index=mf.index[17],axis=0,inplace=True)

In [14]:
# Checking the data.
mf.head(34)

0                State Per Capita Income(INR.CR)
0                  Goa                 ₹4,31,351
1               Sikkim                 ₹4,12,754
2                Delhi                 ₹3,44,136
3           Chandigarh                 ₹2,92,977
4            Karnataka                 ₹2,36,451
5              Haryana                 ₹2,35,707
6            Telangana                 ₹2,31,103
7              Gujarat                 ₹2,12,821
8           Tamil Nadu                 ₹2,12,174
9           Puducherry                 ₹2,06,888
10              Kerala                 ₹2,05,067
11         Maharashtra                 ₹1,93,121
12   Arunachal Pradesh                 ₹1,92,360
13    Himachal Pradesh                 ₹1,83,333
14         Uttarakhand                 ₹1,82,698
15      Andhra Pradesh                 ₹1,76,707
16              Punjab                 ₹1,49,894
18             Mizoram                 ₹1,44,394
19            Nagaland                 ₹1,23,385
20         West Bengal                 ₹1,21,267
21             Tripura                 ₹1,19,789
22           Rajasthan                 ₹1,15,933
23        Chhattisgarh                 ₹1,04,943
24      Madhya Pradesh                 ₹1,04,894
25  Jammu & Kashmir-UT                 ₹1,02,803
26              Odisha                 ₹1,01,501
27             Manipur                   ₹87,832
28               Assam                   ₹86,857
29           Meghalaya                   ₹84,638
30           Jharkhand                   ₹71,071
31       Uttar Pradesh                   ₹61,666
32               Bihar                   ₹43,605

In [15]:
# Once again index position has been change we need to reset it.
mf = mf.reset_index(drop=True)

In [16]:
# Checking the data
mf.head(34)

0                State Per Capita Income(INR.CR)
0                  Goa                 ₹4,31,351
1               Sikkim                 ₹4,12,754
2                Delhi                 ₹3,44,136
3           Chandigarh                 ₹2,92,977
4            Karnataka                 ₹2,36,451
5              Haryana                 ₹2,35,707
6            Telangana                 ₹2,31,103
7              Gujarat                 ₹2,12,821
8           Tamil Nadu                 ₹2,12,174
9           Puducherry                 ₹2,06,888
10              Kerala                 ₹2,05,067
11         Maharashtra                 ₹1,93,121
12   Arunachal Pradesh                 ₹1,92,360
13    Himachal Pradesh                 ₹1,83,333
14         Uttarakhand                 ₹1,82,698
15      Andhra Pradesh                 ₹1,76,707
16              Punjab                 ₹1,49,894
17             Mizoram                 ₹1,44,394
18            Nagaland                 ₹1,23,385
19         West Bengal                 ₹1,21,267
20             Tripura                 ₹1,19,789
21           Rajasthan                 ₹1,15,933
22        Chhattisgarh                 ₹1,04,943
23      Madhya Pradesh                 ₹1,04,894
24  Jammu & Kashmir-UT                 ₹1,02,803
25              Odisha                 ₹1,01,501
26             Manipur                   ₹87,832
27               Assam                   ₹86,857
28           Meghalaya                   ₹84,638
29           Jharkhand                   ₹71,071
30       Uttar Pradesh                   ₹61,666
31               Bihar                   ₹43,605

In [17]:
# Check the data types of data. We can see the 'Per Capita Income' columns data type is not the correct one,We need to change it,use 'dtypes' function to
# check the data types.
mf.dtypes

0
State                        object
Per Capita Income(INR.CR)    object
dtype: object

In [18]:
# Now before changing data type we have to replace '₹' symbol with blank. As this is a string so we need to use'str.replace' function.
mf['Per Capita Income(INR.CR)']=mf['Per Capita Income(INR.CR)'].str.replace("₹","")

In [19]:
# Also we have to replace ',' this symbol with blank so use same method as before we did.
mf['Per Capita Income(INR.CR)']=mf['Per Capita Income(INR.CR)'].str.replace(",","")

In [20]:
# Check the data it has been changed or not.
mf.head()

0       State Per Capita Income(INR.CR)
0         Goa                    431351
1      Sikkim                    412754
2       Delhi                    344136
3  Chandigarh                    292977
4   Karnataka                    236451

In [21]:
# Now we can change the data type as we want use 'astype' function to do that.
mf = mf.astype({'Per Capita Income(INR.CR)':'Float64'})

In [22]:
# Check more info about data use info function.
mf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State                      32 non-null     object
 1   Per Capita Income(INR.CR)  32 non-null     Float64
dtypes: Float64(1), object(1)
memory usage: 672.0+ bytes

In [23]:
# See the shape of data how many rows and columns we have.
mf.shape

(32, 2)

In [24]:
# Check for null values in data.
mf.isna().sum()

0
State                        0
Per Capita Income(INR.CR)    0
dtype: int64

In [25]:
# Now save the data into a csv format.
mf.to_csv('Per Capita Income.csv',index=False,header=True)